*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'ComfortaaRegular';
    font-size: 20px;
}
header{
    height: 100vh;
    background: rgb(10, 35, 65) ;
    background-size: cover;
    background-position: center;

}

#hamnav label, #hamburguer{
    display: none;
}

.nav-link{
    padding: 15px;
    background:rgb(65, 110, 177);
    border-radius: 0 0 20px 20px;
    border-bottom:rgb(30, 67, 124) 10px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.nav-link ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    justify-content: center;
    padding: 15px;
}

.nav-link a{
    text-decoration: none;
    font-size: 24px;
    color: aquamarine;
    padding: 5px;
}

.nav-link a:hover{
    background-color: rgb(46, 76, 141);
    text-decoration: underline;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}

input, span{
    display: none;
}

.placeholder-img, h1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;

}

#bg{
    background-color: rgb(24, 60, 102);
    border-radius: 20px;
    width: 35%;
    height: 35%;
    color: aquamarine;
    border-bottom:rgb(7, 27, 59) 10px solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.placeholder-img img{
    width: 550px;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.sgu-btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 0 20px 0;
}

button{
    padding: 10px 50px 10px 50px;
    border-radius: 10px 0 10px 0;
    border: 0;
    transition: 0.3s ease-in-out;
    background-color: rgb(64, 147, 255);
    color: rgb(0, 11, 61);
    font-size: 16px;
}

button:hover{
    transform: translateY(-10%);
    background-color: rgb(111, 226, 255);
    
    
}
.title{
    font-size: 24px;
    color: aquamarine;
    background:rgb(65, 110, 177);
    border-bottom:rgb(30, 67, 124) 10px solid;
    padding: 20px;
    border-radius: 10px 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}
main{
    background-color: rgb(37, 54, 109);
    
}
main, .img-container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 40px;
    flex-flow: row wrap;
}

.lan-img-1{
  width: 470px;
  height:300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.testimonies{
    background:rgb(58, 106, 179);
    padding: 20px;
    margin: 10px 100px 10px 100px;
    border-radius: 10px 0 10px 0;
    color: rgb(188, 255, 233);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

footer{
    background-color: #3348a3;
    padding: 40px;
     font-weight: 900;

}

h2{
    margin: 10px 100px 10px 100px;
    color: rgb(188, 255, 233);
   
}

.nws-ltr{
    margin: 10px 100px;
    color: rgb(188, 255, 233);
}

@media only screen and (max-width: 700px){
    .nav-link ul{
        display: block;
    }
/* hamburguer menu */
    .nav-link a{
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #hamnav label{
        display: inline-block;
        color: rgb(144, 251, 255);
        background-color: #0a2341;
        font-size: 30px;
        padding: 10px;
    }

    .nav-link{
        display: none;
    }

    #hamnav input:checked ~ .nav-link{
        display: block;
        border-radius: 20px;
        margin: 10px;


    }


    .placeholder-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .placeholder-img img{
        width: 110%;
        height: 110%;
    }
    header{
        height: 100%;
        background-size: cover;
        background-position: center;
    
    }
    .placeholder-img h1{
        margin: 10px -100px;
        text-align: center;
        font-size: 20px;
    }
    
    #bg{
        margin: 20px;
        padding: 0 85px;  
    }

    .lan-img-1{
        width: 100%;
        height:100%;
      }
      
      footer h2{
        margin: 10px;
        text-align: center;
      }

      .testimonies{
        margin: 10px -30px;
        text-align: center;
        font-size: 16px;
    }


    
}